datasets==3.1.0
transformers==4.46.3
torch==2.4.1
faiss-cpu==1.8.0.post1
Pillow==10.4.0
pandas==2.0.3
numpy==1.24.4
groq==0.33.0
python-dotenv==1.0.1
fastapi==0.124.4
uvicorn==0.33.0
python-multipart==0.0.20
streamlit==1.40.1
pytest==8.3.5